<!DOCTYPE html>

<html>
<head>
    <title>Private Chat Room</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div class="panel panel-default" style="margin-top: 13px; border-radius: 10px;">
                <div class="panel-body">
                    <form action="/login" method="post" style="margin:0" autocomplete="off">
                        <h1>Welcome to Chat</h1>
                        <div class="form-group">
                            <input type="text" name="username" id="username" placeholder="Enter Username" class="form-control" required minlength="3" maxlength="15" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Join</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
